@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #fcfcfc;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* Mudamos de 'flex' para 'block' para o site fluir para baixo normalmente */
  display: block; 
  min-height: 100vh;
  background-color: #000000;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #eeeff7;
  }
  button {
    background-color: #f9f9f9;
  }
}

@layer utilities {
  /* Cria a profundidade do efeito 3D */
  .perspective {
    perspective: 1000px;
  }

  /* Garante que os filhos preservem o posicionamento 3D */
  .preserve-3d {
    transform-style: preserve-3d;
  }

  /* Esconde a 'costa' do card quando ele vira */
  .backface-hidden {
    backface-visibility: hidden;
  }

  /* Define a rotação de 180 graus no eixo Y */
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}

@layer utilities {
  /* Animação de flutuar */
  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
  }

  .animate-float {
    animation: float 3s ease-in-out infinite;
  }

  /* Delay para os ícones não subirem juntos */
  .delay-1 {
    animation-delay: 1.5s;
  }
}